@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Model.RequestId</strong> <code></code>
    </p>
}

