
@{
    ViewData["Title"] = "Ok";
}
<a href="/ResponsChceck/SelectRespons" class='btn btn-icon btn-sm btn-outline-yel text-left btn-block'><i class='fas fa-arrow-circle-left'></i>Назад</a>
<h1>Вся работа успещно поверена</h1>

