@model SOTA.Models.ListRab;
@{
    ViewData["Title"] = "Выбор задания";
}

<h1>Выбор задания</h1>

<div class="col-12 shadow p-3 mb-5 bg-white rounded">

    <div class="col-12 table-responsive-lg">
        <table class="table table-hover  table-sm table-bordered shadow align-content-center text-center">
            <thead class="table-yel">
                <tr>
                    <th>Вариант</th>
                    <th>Номер задания</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ListZads != null)
                {
                    @foreach (var row in Model.ListZads)

                    {

                        <tr>
                            @*<td><input type="checkbox" class="DEL" value="@row.Id" /></td>
                                <td><a href="/Rabota/RabotaRedact?IdRabota=@row.Id" class='btn btn-icon btn-sm btn-outline-yel text-left btn-block'><i class='fas fa-pencil-alt'></i>@row.Name </a></td>
                                <td>
                                    @if (row.IdSpec != 0)
                                            {
                                                //@Model.Specs.Where(x => x.Id == row.IdSpec).First().Name;
                                            }
                                            else
                                            {@Html.Raw("Не выбрана спецификация");
                                        }
                                </td>
                                <td>
                                    @if (row.IdSpec != 0)
                                            {
                                                //@Model.Predms.Where(x => x.Id == Model.Specs.Where(y => y.Id == row.IdSpec).First().Predm).First().Name
                                            }
                                            else
                                            {@Html.Raw("<span>Не выбрана спецификация</span>");
                                        }
                                </td>*@
                            <td>@row.Var</td>
                            <td><a href="/ResponsChceck/Proverka?idZad=@row.IdZad" class='btn btn-icon btn-sm btn-outline-yel text-left btn-block'><i class='fas fa-pencil-alt'></i>@row.NomZad </a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
