@model IEnumerable<SOTA.Models.Zadanie>

@*<div class="Mqqexn">*@
@*<div class="_32KZel">
    <button class="bg-yel-but" type="submit">
        <span class="bg-yel-span">Подобрать номер</span>
    </button>
</div>*@
@*  </div>*@
