@{
    Layout = "_Layout";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<script type="text/javascript" src="~/UprSpec/scripts/jquery-2.x-git.js"></script>





<script>
    $(document).ready(function () {
        alert('Ваша версия jQuery ' + jQuery.fn.jquery);
    });
</script>



<html>
<head>
    <title>openWYSIWYG</title>
    @*<link rel="stylesheet" href="~/UprSpec/docs/style.css" type="text/css">*@

    <!--
        Include the WYSIWYG javascript files
    -->
    <script type="text/javascript" src="~/UprSpec/scripts/wysiwyg.js"></script>
    <script type="text/javascript" src="~/UprSpec/scripts/wysiwyg-settings.js"></script>
    <!--
        Attach the editor on the textareas
    -->
    <script type="text/javascript">
        // Use it to attach the editor to all textareas with full featured setup
        //WYSIWYG.attach('all', full);

        // Use it to attach the editor directly to a defined textarea
        WYSIWYG.attach('textarea1'); // default setup
        //WYSIWYG.attach('textarea2', full); // full featured setup
        //WYSIWYG.attach('textarea3', small); // small setup

        // Use it to display an iframes instead of a textareas
        //WYSIWYG.display('all', full);
    </script>

    
        <button class="btn btn-outline-success " id="SaveZadanie" form="0">Сохранить</button>
    
    <script type="text/javascript">

        jQuery("#SaveZadanie").click(function () {

           

            jQuery('#ViewSource').click();

            alert(document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML);
            document.getElementById('text').innerHTML = document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML;
           
            jQuery.ajax({
                url: '/UprSpec/SaveWysiwygText/',
                type: "POST",
                dataType: "json",
                data: { Name: "1", IdSpec: "1", Text: document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML, Variant: "1", Nomer: "1" },
                success: function (query) {
                    alert(query);
                }

            });

        });
    </script>

</head>

<body>


    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" id="uslov_collaps" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Условие
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">



                    <div class="scroll" id="text">

                    </div>
                    <input type="submit" id="KolvoLoad" value="Кликни" />





                    <table border="0" cellpadding="2" cellspacing="0" style="width:100%;">
                        <tbody>



                            <tr>
                                <td>
                                    <br>
                                    <form name="exampleForm" action="example.html" method="post">

                                        <textarea id="textarea1" name="test1" style="width:560px;height:200px;">

                                </textarea>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="text" id="uslov" />
                    <a href="#" onclick="continueButton()" >Далее</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button disabled class="btn btn-link collapsed" id="otvet_collaps" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ответ
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="otv_Tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#otv1" role="tab" aria-controls="otv1" aria-selected="true">Строчный ответ</a>
                           
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#otv2" role="tab" aria-controls="otv2" aria-selected="false">Выбор ответа</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otv3" role="tab" aria-controls="otv3" aria-selected="false">Выпадающий список</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otv4" role="tab" aria-controls="otv4" aria-selected="false">Табличный</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otv5" role="tab" aria-controls="otv5" aria-selected="false">Свободный ответ</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="otv1" role="tabpanel" aria-labelledby="otv1-tab">

                            <form name="myForm1">
                                <div id="StrOtvet[0]">
                                    <input type="text" id="StrOtv[0]" />
                                    <button type="button" name="delAlternative" class="classDelAlternative" value="1" id="delAlternative">Удалить</button>
                                </div>

                                <div>

                                    <button type="button" name="addAlternative" id="addAlternative">Добавить</button>
                                </div>


                            </form>




                            <button class="btn btn-outline-warning" id="SaveOtvet">Сохранить ответ</button>
                        </div>
                        <div class="tab-pane fade" id="otv2" role="tabpanel" aria-labelledby="otv2-tab">
                            <div id="ViborOtveta[2]" class="form-group form-check">
                                <input name="ViborOtveta[2]" id="ViborOtveta[2]" type="text" />
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <form name="myForm">

                                <div id="ViborOtvetov">
                                    <div id="DivViborOtveta[1]"> <input name="ViborOtveta[1]" id="ViborOtveta[1]" type="text" /> <input type="checkbox" name="check[1]" id="check[1]" value="1" /></div>
                                    <div id="DivViborOtveta[2]">
                                        <input name="ViborOtveta[2]" id="ViborOtveta[2]" type="text" />
                                        <input type="checkbox" name="check[2]" id="check[2]" value="1" />

                                    </div>
                                    <div id="DivViborOtveta[3]">
                                        <input name="DivViborOtveta[3]" id="ViborOtveta[3]" type="text" /> <input type="checkbox" name="check[3]" id="check[3]" value="1"/>
                                    </div>
                                    <div id="DivViborOtveta[4]">

                                        <input name="ViborOtveta[4]" id="ViborOtveta[4]" type="text" /> <input type="checkbox" name="check[4]" id="check[4]" value="1"/>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" name="del" id="del">Удалить</button>
                                    <button type="button" name="add" id="add">Добавить</button>
                                </div>
                            </form>
                            <button class="btn btn-outline-warning" id="SaveViborOtvet">Сохранить ответ</button>
                        </div>
                        <div class="tab-pane fade" id="otv3" role="tabpanel" aria-labelledby="otv3-tab">3</div>
                        <div class="tab-pane fade" id="otv4" role="tabpanel" aria-labelledby="otv4-tab">



                            <input type="text" id="kolRow" />
                            @*<input type="text" id="kolCol" />*@
                            <button type="button" name="AddTabel" id="AddTabel" OnClick="generateTable()">Добавить таблицу</button>

                            <div id="TableCreate">


                            </div>
                        </div>
                        <div class="tab-pane fade" id="otv5" role="tabpanel" aria-labelledby="otv5-tab">

                            <form name="myForm2">
                                <div id="SvobodOtvet">
                                    <textarea name="Kriterii" id="Kriterii">
                             
</textarea>
                                    
                                </div>

                                <div>

                                    <button type="button" name="addAlternativeArea" id="addAlternativeArea">Добавить</button>
                                </div>


                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Предпросмотр и сохранение
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Смотри
                </div>
            </div>
        </div>
    </div>

    <script>
        var inputs = 0;
        var form = document.forms.myForm;
        var i = 5;
        var StrNomer = 0;
        var SvobodNomer = 1;
         var NomerViborOtv = 5;
         //   form.addEventListener('click', function (event) {
            //    event.preventDefault();

         jQuery("#SaveViborOtvet").click(function () {
              var arr = new Array(NomerViborOtv);
           var arr1 = new Array(NomerViborOtv);
              for (iStr = 0; iStr < NomerViborOtv-1; iStr++) {
                  //alert("StrOtv[" + iStr + "]");
                  
                 arr[iStr] = document.getElementById("ViborOtveta[" + (iStr + 1) + "]").value;
                 // alert(arr[iStr]);
             }
              for (iStr = 0; iStr < NomerViborOtv-1; iStr++) {
                  //alert("StrOtv[" + iStr + "]");
                  
               var chbox = document.getElementById("check[" + (iStr+1) + "]");
                  if (chbox.checked) {
                      arr1[iStr] = 1;
	}
	else {
		 arr1[iStr] = 0;
	}
             }
             
             vbd(2, arr, arr1);

                 // alert(arr[iStr]);
 
 });

          jQuery("#SaveOtvet").click(function () {
              var arr = new Array(StrNomer);
           
              for (iStr = 0; iStr < StrNomer+1; iStr++) {
                  //alert("StrOtv[" + iStr + "]");
                  
                  arr[iStr] = document.getElementById("StrOtv[" + iStr + "]").value;
                 // alert(arr[iStr]);
                  }
             
               vbd(1, arr, arr1);

 });
        function vbd(tip,arr,arr1) {

            jQuery.ajax({
                url: '/UprSpec/SaveOtveti/',
                type: "POST",
                dataType: "json",
                data: { tip: tip, idZadania: 1, arr: arr,arr1:arr1 },
                success: function (query) {
                    alert(query);
                }

            });
        }

        jQuery('#add').click(function(){
            //form.appendChild(event.target.parentNode.(true));

         

            var ViborOtvetov = document.getElementById("DivViborOtveta["+(NomerViborOtv-1)+"]");
            var div = document.createElement("div");
            div.id = "DivViborOtveta[" + NomerViborOtv + "]";
            // Добавляем HTML-контент с пом. свойства innerHTML
            div.innerHTML = "<input name=\"ViborOtveta[" + NomerViborOtv + "]\" id=\"ViborOtveta[" + NomerViborOtv + "]\" type=\"text\" /> <input type=\"checkbox\"  name=check[" + NomerViborOtv+ "] id=check[" + NomerViborOtv + "]  >";
            // Добавляем новый узел в конец списка полей
            ViborOtvetov.after(div);


            NomerViborOtv++;



         });
               
                 jQuery('#del').click(function(){       
                    if (NomerViborOtv > 3) {

         
               
                
                        var elem = document.getElementById( "check[" +(NomerViborOtv - 1)+ "]" );
                    
                      
                       elem.parentNode.removeChild(elem);
                          var elem = document.getElementById("DivViborOtveta[" + (NomerViborOtv-1)+ "]");
                        elem.remove();
                       
                        NomerViborOtv--;
                      

                    }
                
                 });
         

        jQuery('#addAlternative').click(function () {
                StrNomer++;
            //form.appendChild(event.target.parentNode.(true));
            var ViborOtvetov = document.getElementById("StrOtvet["+(StrNomer-1)+"]");
            var div = document.createElement("div");
            div.id = "StrOtvet[" + StrNomer+ "]";
            // Добавляем HTML-контент с пом. свойства innerHTML
            div.innerHTML = "<input type=\"text\" name=\"StrOtv[" + StrNomer + "]\" id=\"StrOtv[" + StrNomer + "]\" />   <button type=\"button\" name=\"delAlternative\" id=\"delAlternative\" class=\"classDelAlternative\"  OnClick=\"a("+StrNomer+");\"  >Удалить</button>";
            // Добавляем новый узел в конец списка полей
            ViborOtvetov.after(div);


             
            


         });
               document.getElementById('delAlternative').onclick = function() {
   
        
            alert("dasd");
                    if (i > 3) {
                    
                       elem.parentNode.removeChild(elem);
                          var elem = document.getElementById("StrOtvet[" + (i-1)+ "]");
                        elem.remove();

                        i--;

                    }
                
        };


         function a(n)
         {

             if (StrNomer > 0) {

                      // elem.parentNode.removeChild(elem);
                          var elem = document.getElementById("StrOtvet[" + n+ "]");
                        elem.remove();

                        StrNomer--;

                    }
                    }
         

	function generateTable(){
       row= document.getElementById("kolRow").value;
        var elem = document.getElementById("TabelOtvet");
        if (elem) {
            elem.remove();
        }
		var table = '<table class="simple-little-table" id=\"TabelOtvet\">';

        for (var i = 1; i <= row; i++) {

            table += '<tr>';

            for (var j = 1; j <= 2; j++) {
                if (j == 1) {
                    table += "<td><input name= \"' + i + ',' + j + '\"/> </td>";
                }
                else {
                    table += "<td><input name= \"' + i + ',' + j + '\"/> <button type=\"button\" name=\"delAlternative\" id=\"delAlternative\" class=\"classDelAlternative\"  OnClick=\"addInput();\"  >Добавить</button> <button type=\"button\" name=\"delAlternative\" id=\"delAlternative\" class=\"classDelAlternative\"  OnClick=\"delInput();\"  >Удалить</button> ";
                }
            }

            table += '</tr>';
        
		}
		table += '</table>';
       // document.getElementById('table').innerHTML = table;
          var div = document.createElement("div");
        var TableCreate = document.getElementById("TableCreate");
        div.innerHTML = table;
        TableCreate.after(div);
	}



        function delalternativearea(n)
         {

             if (SvobodNomer > 0) {

                      // elem.parentNode.removeChild(elem);
                          var elem = document.getElementById("Kriterii[" + n+ "]");
                        elem.remove();

                        SvobodNomer--;

                    }
                    }



  jQuery('#addAlternativeArea').click(function(){
            //form.appendChild(event.target.parentNode.(true));
            var ViborOtvetov = document.getElementById("SvobodOtvet");
            var div = document.createElement("div");
            div.id = "Kriterii[" + SvobodNomer+ "]";
            // Добавляем HTML-контент с пом. свойства innerHTML
            div.innerHTML = "<textarea name=\"Kriterii[" + i + "]\" id=\"Kriterii[" + i + "]\" type=\"text\" >  </textarea> <button type=\"button\" name=\"delAlternativeArea\" id=\"delAlternativeArea\" class=\"classDelAlternativeArea\"  OnClick=\"delalternativearea("+SvobodNomer+");\"  >Удалить</button>";
            // Добавляем новый узел в конец списка полей
            ViborOtvetov.after(div);


               SvobodNomer++;
            


         });
               
        jQuery('#TableCreate').click(function () {
           
            //form.appendChild(event.target.parentNode.(true));
            var ViborOtvetov = document.getElementById("SvobodOtvet");
            var div = document.createElement("div");
            div.id = "Kriterii[" + SvobodNomer+ "]";
            // Добавляем HTML-контент с пом. свойства innerHTML
            div.innerHTML = "<textarea name=\"Kriterii[" + i + "]\" id=\"Kriterii[" + i + "]\" type=\"text\" >  </textarea> <button type=\"button\" name=\"delAlternativeArea\" id=\"delAlternativeArea\" class=\"classDelAlternativeArea\"  OnClick=\"delalternativearea("+SvobodNomer+");\"  >Удалить</button>";
            // Добавляем новый узел в конец списка полей
            ViborOtvetov.after(div);


               SvobodNomer++;
            


         });



        
    </script>



    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script>

        //$(document).ready(function () {
        //    alert('Ваша версия jQuery ' + jQuery.fn.jquery);
        //});
        function addInput() {
        
         var table = document.getElementById('TabelOtvet');
            alert(table.rows[1].cells.length);
        }

        function continueButton() {
            if (document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML != "") {
                document.getElementById("otvet_collaps").removeAttribute("disabled");
                jQuery("#otvet_collaps").removeClass("collapsed");
                // $("#uslov_collaps").addClass("collapsed");
                document.getElementById("otvet_collaps").setAttribute("aria-expanded", "true");
                jQuery("#collapseTwo").addClass("show");
                jQuery("#collapseOne").removeClass("show");
            }
        }
    </script>

</body>
</html>
