@{
    Layout = "_Layout";
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<script type="text/javascript" src="~/UprSpec/scripts/jquery-2.x-git.js"></script>





<script>
    $(document).ready(function () {
        alert('Ваша версия jQuery ' + jQuery.fn.jquery);
    });
</script>



<html>
<head>
    <title>openWYSIWYG</title>
    @*<link rel="stylesheet" href="~/UprSpec/docs/style.css" type="text/css">*@

    <!--
        Include the WYSIWYG javascript files
    -->
    <script type="text/javascript" src="~/UprSpec/scripts/wysiwyg.js"></script>
    <script type="text/javascript" src="~/UprSpec/scripts/wysiwyg-settings.js"></script>
    <!--
        Attach the editor on the textareas
    -->
    <script type="text/javascript">
        // Use it to attach the editor to all textareas with full featured setup
        //WYSIWYG.attach('all', full);

        // Use it to attach the editor directly to a defined textarea
        WYSIWYG.attach('textarea1'); // default setup
        //WYSIWYG.attach('textarea2', full); // full featured setup
        //WYSIWYG.attach('textarea3', small); // small setup

        // Use it to display an iframes instead of a textareas
        //WYSIWYG.display('all', full);
    </script>

    
        <button class="btn btn-outline-success " id="SaveZadanie" form="0">Сохранить</button>
    
    <script type="text/javascript">



        jQuery("#SaveZadanie").click(function () {
            alert("fsdf");
            jQuery('#ViewSource').click();

            alert(document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML);
            document.getElementById('text').innerHTML = document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML;
            alert("dasdas");
            jQuery.ajax({
                url: '/UprSpec/SaveWysiwygText/',
                type: "POST",
                dataType: "json",
                data: { Name: "1", IdSpec: "1", Text: document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML, Variant: "1", Nomer: "1" },
                success: function (query) {
                    alert(query);
                }

            });

        });
    </script>

</head>

<body>


    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" id="uslov_collaps" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Условие
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">



                    <div class="scroll" id="text">

                    </div>
                    <input type="submit" id="KolvoLoad" value="Кликни" />





                    <table border="0" cellpadding="2" cellspacing="0" style="width:100%;">
                        <tbody>



                            <tr>
                                <td>
                                    <br>
                                    <form name="exampleForm" action="example.html" method="post">

                                        <textarea id="textarea1" name="test1" style="width:560px;height:200px;">

                                </textarea>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="text" id="uslov" />
                    <a href="#" onclick="continueButton()">Далее</a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button disabled class="btn btn-link collapsed" id="otvet_collaps" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Ответ
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="otv_Tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#otv1" role="tab" aria-controls="otv1" aria-selected="true">Строчный ответ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#otv2" role="tab" aria-controls="otv2" aria-selected="false">Выбор ответа</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otv3" role="tab" aria-controls="otv3" aria-selected="false">Выпадающий список</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otv4" role="tab" aria-controls="otv4" aria-selected="false">Табличный</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#otv5" role="tab" aria-controls="otv5" aria-selected="false">Свободный ответ</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="otv1" role="tabpanel" aria-labelledby="otv1-tab">
                            <input type="text" id="StrOtvet" />

                            <button class="btn btn-outline-warning">Ryjgrf rhfcbdfz </button>
                            
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                
                            
                        </div>
                        <div class="tab-pane fade" id="otv2" role="tabpanel" aria-labelledby="otv2-tab">
                            <div id="ViborOtveta[2]" class="form-group form-check">
                                <input name="ViborOtveta[2]" id="ViborOtveta[2]" type="text" />
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Check me out</label>
                            </div>
                            <form name="myForm">
                                <div id="ViborOtvetov">
                                    <div id="DivViborOtveta[1]"> <input name="ViborOtveta[1]" id="ViborOtveta[1]" type="text" /> <input type="checkbox" name="check[1]" id="check[1]" /></div>
                                    <div id="ViborOtveta[2]" class="form-group form-check">
                                        <input name="ViborOtveta[2]" id="ViborOtveta[2]" type="text" />
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <div id="ViborOtveta[3]">
                                        <input name="DivViborOtveta[3]" id="ViborOtveta[3]" type="text" /> <input type="checkbox" name="check[3]" id="check[3]" />
                                    </div>
                                    <div id="DivViborOtveta[4]">
                                        <input name="ViborOtveta[4]" id="ViborOtveta[4]" type="text" /> <input type="checkbox" name="check[4]" id="check[4]" />
                                    </div>
                                </div>
                                 <div>
                                     <button name="del">Удалить</button>
                                     <button name="add">Добавить</button>
                                    </div>
</form>
                            <form >
                               
                                </form>
                        </div>
                        <div class="tab-pane fade" id="otv3" role="tabpanel" aria-labelledby="otv3-tab">3</div>
                        <div class="tab-pane fade" id="otv4" role="tabpanel" aria-labelledby="otv4-tab">4</div>
                        <div class="tab-pane fade" id="otv5" role="tabpanel" aria-labelledby="otv5-tab">5</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Предпросмотр и сохранение
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Смотри
                </div>
            </div>
        </div>
    </div>

    <script>
        var inputs = 0;
        var form = document.forms.myForm;
        var i = 5;
        if (form) {
            form.getElementsByTagName('div').length;
            form.addEventListener('click', function (event) {
               // event.preventDefault();

                if (event.target.name == 'add') {
                    //form.appendChild(event.target.parentNode.(true));
                    


                      var ViborOtvetov = document.getElementById( "ViborOtvetov" );
                    var div = document.createElement("div");
                    div.id="DivViborOtveta[" + i+ "]";
 // Добавляем HTML-контент с пом. свойства innerHTML
 div.innerHTML = "<input name=\"ViborOtveta[" + i+ "]\" id=\"ViborOtveta[" + i+ "]\" type=\"text\" /> <input type=\"checkbox\" name=check["+i+"] id=check["+i+"]  />";
 // Добавляем новый узел в конец списка полей
  ViborOtvetov.before(div);

                  
                    i++;


           
                }
                if (event.target.name == 'del') {
                    
                    if (i > 3) {

         
               
                
                        var elem = document.getElementById( "check[" +(i - 1)+ "]" );
                    
                      
                       elem.parentNode.removeChild(elem);
                          var elem = document.getElementById("ViborOtveta[" + (i-1)+ "]");
                        elem.remove();

                        i--

                    }
                }
            });
        }
    </script>



    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script>

        //$(document).ready(function () {
        //    alert('Ваша версия jQuery ' + jQuery.fn.jquery);
        //});
        function continueButton() {
            if (document.getElementById("wysiwygtextarea1").contentWindow.document.body.innerHTML != "") {
                document.getElementById("otvet_collaps").removeAttribute("disabled");
                jQuery("#otvet_collaps").removeClass("collapsed");
                // $("#uslov_collaps").addClass("collapsed");
                document.getElementById("otvet_collaps").setAttribute("aria-expanded", "true");
                jQuery("#collapseTwo").addClass("show");
                jQuery("#collapseOne").removeClass("show");
            }
        }
    </script>

</body>
</html>
