@model SOTA.Models.RabotaUchenList

@{
    ViewData["Title"] = "Отчеты по работам";
}

<h1>Список отчетов</h1>
<form method="post">

    <div class="col-12 shadow p-3 mb-5 bg-white rounded">
        @*<div class="col-12">
                <a id="AddSpec" class="btn btn-outline-success col-3" asp-area="" asp-controller="Rabota" asp-action="RabotaAdd"><i class='fas fa-plus-circle'></i>    Назначить</a>
                <a id="AddSpec" class="btn btn-outline-danger col-3" asp-area="" asp-controller="Rabota" asp-action="RabotaDel"><i class='fas fa-trash'></i>     Удалить</a>
            </div>*@
        <div class="col-12 table-responsive-lg">
            <table class="table table-hover  table-sm table-bordered shadow">
                <thead class="table-yel">
                    <tr>
                        <th>Название работы</th>
                        <th>Предмет</th>
                        <th>Тип</th>
                        <th>Дата проведения</th>
                        <th>Скачать</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.RabotaTabls)
                    {
                        <tr>
                            <td>@row.Name</td>
                            <td>@row.PredmN</td>
                            <td>@row.TipN</td>
                            <td>@row.Konec</td>
                            <td><a href="~/Reports/Отчет.xls" class='btn btn-icon btn-sm btn-outline-yel text-left btn-block '><i class='far fa-file-excel'></i>Скачать</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>
