

/*.particles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/*.particles div {
        position: absolute;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        line-height: 40px;
        color: #FFF;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        animation: neon-1 .1s ease-in-out infinite alternate;
    }*/


/*Красивый лабел*/

.group {
    position: relative;
    margin-bottom: 30px;
}

/*input {
                font-size: 16px;
                padding: 10px;
                display: block;
                width: 300px;
                border: none;
                border-bottom: 1px solid #ccc;
            }

                input:focus {
                    outline: none;
                }*/


/* LABEL ======================================= */
.label {
    color: #999;
    /*font-size: 18px;*/
    position: absolute;
    pointer-events: none;
    left: 60px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ .label, input:valid ~ .label {
    top: -25px;
    font-size: 14px;
    color: #5264AE;
}

input:invalid:focus ~ .label {
    

    top: -25px;
    font-size: 14px;
    color: #c80000;
}


select:invalid ~ .label {
    top: -25px;
    font-size: 14px;
    color: #c80000;
}

select:valid ~ .label {
    top: -25px;
    font-size: 14px;
    color: #5264AE;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 320px;
}

    .bar:before, .bar:after {
        content: "";
        height: 2px;
        width: 0;
        bottom: 0;
        position: absolute;
        background: #5264AE;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}





/*Кнопки билайн*/


.Mqqexn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

._2cQqzW._1ov86_ {
    margin: 40px auto;
    text-align: center
}

._32KZel {
    position: relative;
    display: inline-block;
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 17px/37px Officina Serif
}

@media (min-width:768px) {
    ._32KZel {
        font-size: 15px
    }
}

._32KZel._2uwrgH, ._32KZel._3d9J71, ._32KZel._3d9J71 .bg-yel-but {
    width: 100%
}

@media (min-width:768px) {
    ._32KZel._2uwrgH {
        width: auto
    }
}

._32KZel._2uwrgH .bg-yel-but {
    width: 100%
}

@media (min-width:768px) {
    ._32KZel._2uwrgH .bg-yel-but {
        width: auto
    }
}

.bg-yel-but {
    position: relative;
    display: inline-block;
    height: 37px;
    margin-bottom: 4px;
    padding: 0 20px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
    border: none;
    border-radius: 5px;
    font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

    .bg-yel-but:before {
        border-radius: 5px
    }

    .bg-yel-but:disabled {
        border-radius: 7px
    }

    .bg-yel-but:not(:disabled) {
        -webkit-transition: -webkit-box-shadow .1s,-webkit-transform .1s;
        transition: -webkit-box-shadow .1s,-webkit-transform .1s;
        transition: box-shadow .1s,transform .1s;
        transition: box-shadow .1s,transform .1s,-webkit-box-shadow .1s,-webkit-transform .1s;
        background: #fad485;
        -webkit-box-shadow: 0 3px 0 0 #ebb16f,0 4px 0 0 #d99a59,0 4px 8px 0 rgba(102,55,0,.4);
        box-shadow: 0 3px 0 0 #ebb16f,0 4px 0 0 #d99a59,0 4px 8px 0 rgba(102,55,0,.4)
    }

        .bg-yel-but:not(:disabled):before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            -webkit-transition: opacity .15s;
            transition: opacity .15s;
            background: -webkit-gradient(linear,left top,left bottom,from(#f6c164),color-stop(60%,#f6c164),to(#fdcf70));
            background: linear-gradient(#f6c164,#f6c164 60%,#fdcf70)
        }

        .bg-yel-but:not(:disabled)._12goQU:before, .bg-yel-but:not(:disabled):hover:before {
            opacity: 0
        }

        .bg-yel-but:not(:disabled)._2ud577, .bg-yel-but:not(:disabled):active {
            -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
            transform: translateY(2px);
            -webkit-box-shadow: 0 1px 0 0 #ebb16f,0 2px 0 0 #d99a59,0 2px 4px 0 rgba(102,55,0,.4);
            box-shadow: 0 1px 0 0 #ebb16f,0 2px 0 0 #d99a59,0 2px 4px 0 rgba(102,55,0,.4)
        }

            .bg-yel-but:not(:disabled)._2ud577:before, .bg-yel-but:not(:disabled):active:before {
                opacity: 0
            }

    .bg-yel-but:disabled {
        top: 2px;
        cursor: not-allowed;
        opacity: .2;
        border: 2px solid rgba(0,0,0,.53);
        background: none;
        line-height: 33px
    }

    .bg-yel-but + a, .bg-yel-but + span {
        margin-left: 15px
    }

    .bg-yel-but + div {
        margin-top: 15px
    }

.bg-yel-span, .RtuwA7 {
    position: relative;
    vertical-align: middle
}

    .bg-yel-span + .RtuwA7, .RtuwA7 + .bg-yel-span {
        margin-left: 5px
    }

.bg-yel-but._2LJnhm:not(:disabled) {
    background: #f6f6f6;
    background: -webkit-gradient(linear,left top,left bottom,from(#f8f6f5),to(#fdfcfb));
    background: linear-gradient(#f8f6f5,#fdfcfb)
}

.bg-yel-but._3ZuuHB:not(:disabled) {
    background: #fff
}

.bg-yel-but._2LJnhm:not(:disabled), .bg-yel-but._3ZuuHB:not(:disabled) {
    -webkit-transition: color .1s,-webkit-box-shadow .1s,-webkit-transform .1s;
    transition: color .1s,-webkit-box-shadow .1s,-webkit-transform .1s;
    transition: box-shadow .1s,transform .1s,color .1s;
    transition: box-shadow .1s,transform .1s,color .1s,-webkit-box-shadow .1s,-webkit-transform .1s;
    -webkit-box-shadow: 0 3px 0 0 #dedede,0 4px 0 0 #bfbfbf,0 4px 8px 0 rgba(0,0,0,.3);
    box-shadow: 0 3px 0 0 #dedede,0 4px 0 0 #bfbfbf,0 4px 8px 0 rgba(0,0,0,.3)
}

    .bg-yel-but._2LJnhm:not(:disabled):before, .bg-yel-but._3ZuuHB:not(:disabled):before {
        display: none
    }

    .bg-yel-but._2LJnhm:not(:disabled)._12goQU, .bg-yel-but._2LJnhm:not(:disabled):hover, .bg-yel-but._3ZuuHB:not(:disabled)._12goQU, .bg-yel-but._3ZuuHB:not(:disabled):hover {
        color: #f68b1f
    }

    .bg-yel-but._2LJnhm:not(:disabled)._2ud577, .bg-yel-but._2LJnhm:not(:disabled):active, .bg-yel-but._3ZuuHB:not(:disabled)._2ud577, .bg-yel-but._3ZuuHB:not(:disabled):active {
        -webkit-box-shadow: 0 1px 0 0 #dedede,0 2px 0 0 #bfbfbf,0 2px 4px 0 rgba(0,0,0,.3);
        box-shadow: 0 1px 0 0 #dedede,0 2px 0 0 #bfbfbf,0 2px 4px 0 rgba(0,0,0,.3)
    }

._3d9nuF:not(:disabled) {
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#ffe100),to(#f7a700));
    background-image: linear-gradient(180deg,#ffe100 0,#f7a700);
    -webkit-box-shadow: 0 1px 0 0 #f3c77f,0 4px 0 0 #bc804a;
    box-shadow: 0 1px 0 0 #f3c77f,0 4px 0 0 #bc804a;
    text-shadow: 0 1px 1px #fee215
}

    ._3d9nuF:not(:disabled):before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        -webkit-transition: opacity .15s;
        transition: opacity .15s;
        opacity: 0;
        background: -webkit-gradient(linear,left top,left bottom,from(#fff3a2),to(#faa829));
        background: linear-gradient(180deg,#fff3a2 0,#faa829)
    }

    ._3d9nuF:not(:disabled):hover:before {
        opacity: 1
    }

    ._3d9nuF:not(:disabled):active {
        -webkit-box-shadow: 0 1px 0 0 #f3c77f,0 2px 0 0 #bc804a;
        box-shadow: 0 1px 0 0 #f3c77f,0 2px 0 0 #bc804a
    }

.U-M6RB {
    height: 52px;
    padding: 0 30px;
    font-size: 21px;
    line-height: 52px
}

    .U-M6RB, .U-M6RB:before {
        border-radius: 26px
    }

        .U-M6RB:disabled {
            border-radius: 31px
        }

        .U-M6RB .bg-yel-span + .RtuwA7, .U-M6RB .RtuwA7 + .bg-yel-span {
            margin-left: 7px
        }

@media (max-width:640px) {
    ._32KZel._2CBS8_, ._32KZel._2CBS8_ button {
        width: 100%
    }
}

._2_k2ZC {
    position: relative;
    display: inline-block;
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: top
}

._3sth_k {
    width: 100%;
    cursor: pointer;
    text-align: left;
    border: 1px solid hsla(0,0%,67%,.45);
    border-radius: 3px;
    background: #fff;
    font: 17px/1.4705 Officina Serif
}

    ._3sth_k._3BZwNz {
        cursor: not-allowed;
        opacity: .45
    }

._2xFpoh {
    position: relative
}

._2i72z8 {
    visibility: hidden;
    height: 0;
    margin-right: 10px
}

._3hdXij {
    position: absolute;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis
}

._11YHrO ._3hdXij {
    color: inherit;
    font-size: inherit
}

._1ZYZY3 {
    border-color: #aaa;
    background: #eeeae5
}


/*кнопки билайн*/


.navbar-right {
    float: right !important;
    margin-right: -15px;
}



@keyframes neon-1 {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(191, 226, 255, 0.52), 0 0 21px rgba(191, 226, 255, 0.92), 0 0 34px rgba(191, 226, 255, 0.78), 0 0 54px rgba(191, 226, 255, 0.92);
    }

    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(191, 226, 255, 0.58), 0 0 22px rgba(191, 226, 255, 0.84), 0 0 38px rgba(191, 226, 255, 0.88), 0 0 60px #FFF;
    }
}

.particles canvas {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgb(250, 253, 251);
    z-index: -1;
    /*background-image: url('background.jpg');*/
    background-position: center center;
    background-size: cover;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/



/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

/** {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}*/

/*---------------------------------------------*/
/*a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}*/

/*---------------------------------------------*/
/*h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}*/


/*---------------------------------------------*/
/*input {
	outline: none;
	border: none;
}*/

/*textarea {
  outline: none;
  border: none;
}*/

/*textarea:focus, input:focus {
  border-color: transparent !important;
}*/

/*input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }*/

/*---------------------------------------------*/
/*button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}*/


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
/*.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}*/


/*//////////////////////////////////////////////////////////////////
[ login ]*/

/*.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}*/

/*.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}*/

/*------------------------------------------------------------------
[  ]*/
.login100-pic {
    width: 316px;
}

    .login100-pic img {
        max-width: 100%;
    }


/*------------------------------------------------------------------
[  ]*/
/*.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}*/


/*---------------------------------------------*/
.wrap-input100 {
    /*position: relative;
  width: 100%;*/
    z-index: 1;
    /*margin-bottom: 10px;*/
}

.input100 {
    /*font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;*/
    display: block;
    width: 100%;
    /*background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;*/
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.9s ease-in-out forwards;
    animation: anim-shadow 0.9s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: #57b846;
    padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background: #333333;
    }



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
    .wrap-login100 {
        padding: 177px 90px 33px 85px;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}
