@model SOTA.Models.LoginModel
@{
    ViewData["Title"] = "Авторизация";

}
<script defer src="~/js/jquery.pwstrength.js"></script>
<body>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <br />
                <form asp-controller="Account" asp-anti-forgery="true" class="text-center @*was-validated*@ mx-auto" style="width: 400px;" method="post">
                    <div class="validation center" asp-validation-summary="ModelOnly" />
                    <div class="form-row  rounded col-md-12 shadow-lg p-3 mb-5 bg-white-80 rounded">

                        <div class="form-group  js-tilt" data-tilt>
                            <img src="~/favicon.png" alt="IMG" />
                            <h4>Система онлайн тестирования и аналитики</h4>
                            <br />
                            <h2>Вход</h2>
                        </div>

                        <div class="form-group centr-div col-9">
                            <label aria-label="Логин" for="validationLog">Логин</label>
                            <div class="input-group wrap-input100 validate-input">

                                <div class="input-group-prepend ">
                                    <div class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </div>
                                </div>
                                <input type="text" asp-for="Name" class="form-control input100" id="validationLog" placeholder="Логин" pattern="[A-Za-zА-Яа-яЁё0-9@@_ ]{6,}" required onshow="if (this.value.length > 4) { qwe(); }" oninput="if (this.value.length > 4) { qwe(); }" />
                                <span asp-validation-for="Name" class="focus-input100"></span>


                            </div>
                            <label class="form-group d-none alert-warning" id="lab_log">Логин не существует</label>

                            <div class="form-group d-none" id="div_pass">
                                <label for="validationPass">Пароль</label>
                                <div class="input-group wrap-input100 validate-input">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="password" asp-for="Pass" class="form-control pwstrength input100" id="validationPass" placeholder="Пароль" pattern="[A-Za-zА-Яа-яЁё0-9]{6,}" data-toggle="tooltip" data-placement="right" title="Пароль не короче 6 символов из букв и/или цифр на русской или англиской раскладке" />
                                    <span asp-validation-for="Pass" class="focus-input100"></span>

                                </div>
                            </div>
                            <label class="form-group d-none alert-warning" id="lab_pass">Логин не существует</label>
                            <div class="form-group d-none" id="div_add_pass">
                                <label for="validationPass">Создайте пароль</label>
                                <div class="input-group wrap-input100 validate-input">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="password" asp-for="AddPass" class="form-control pwstrength input100" id="AddPass" placeholder="Пароль" pattern="[A-Za-zА-Яа-яЁё0-9]{6,}" oninput=" sravn();" data-toggle="tooltip" data-placement="right" title="Пароль не короче 6 символов из букв и/или цифр на русской или англиской раскладке" />
                                    <span asp-validation-for="AddPass" class="focus-input100"></span>

                                </div>

                                <label for="validationPass">Повторите пароль</label>
                                <div class="input-group wrap-input100 validate-input">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="password" asp-for="AddPass2" class="form-control pwstrength input100" id="AddPass2" placeholder="Пароль" pattern="[A-Za-zА-Яа-яЁё0-9]{6,}" oninput=" sravn();" data-toggle="tooltip" data-placement="right" title="Пароль не короче 6 символов из букв и/или цифр на русской или англиской раскладке" />
                                    <span asp-validation-for="AddPass2" class="focus-input100"></span>

                                </div>
                                <div class="input-group wrap-input100 validate-input">
                                    <label class="custom-switch mt-2" style="padding-left: 0px; font-size:16px">

                                        <input type="checkbox" asp-for="Sogl" name="Sogl" id="Sogl" class="custom-switch-input" onchange=" sravn();">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">Согласие на обработку персональных данных</span>
                                    </label>
                                </div>

                                <div class="form-group d-none" id="div_save">
                                    <button id="NewPass" class="bg-yel-but" asp-controller="Account" asp-action="Login">
                                        <span class="bg-yel-span"> Сохранить и войти</span>
                                    </button>

                                </div>
                            </div>
                            <div class="form-group d-none alert-warning" id="div_dosr_0">
                                Логин верен, но необхадима разрешение на регистрацию. Обратитесь к администратору класса
                            </div>
                            <div class="form-group d-none alert-warning" id="div_dosr_1">
                                Логин верен, но необхадима разрешение на регистрацию. Обратитесь к администратору школы
                            </div>
                            <div class="form-group d-none alert-warning" id="div_dosr_2">
                                Логин верен, но необхадима разрешение на регистрацию. Обратитесь к администратору УО
                            </div>
                            <div class="form-group d-none alert-warning" id="div_dosr_3">
                                Логин верен, но необхадима разрешение на регистрацию. Обратитесь к администратору системы 8(861)232-39-71
                            </div>
                            <div class="form-group d-none" id="div_vhod">
                                <button id="KolvoLoad" class="bg-yel-but" asp-controller="Account" asp-action="Login">
                                    <span class="bg-yel-span"> Войти</span>
                                </button>

                            </div>


                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/js/tilt.jquery.min.js">


        jQuery('.js-tilt').tilt({
            scale: 1.1

        })
    </script>
    <script>



        var input = document.getElementById('validationLog');
        var pass = document.getElementById('validationPass');
        var AddPass = document.getElementById('AddPass');
        var AddPass2 = document.getElementById('AddPass2');
        var div_pass = document.getElementById('div_pass');
        var div_add_pass = document.getElementById('div_add_pass');
        var div_vhod = document.getElementById('div_vhod');
        var div_save = document.getElementById('div_save');
        var div_dosr_0 = document.getElementById('div_dosr_0');
        var div_dosr_1 = document.getElementById('div_dosr_1');
        var div_dosr_2 = document.getElementById('div_dosr_2');
        var div_dosr_3 = document.getElementById('div_dosr_3');
        var lab_log = document.getElementById('lab_log');
        var sogl = document.getElementById('Sogl');
        // input.addEventListener("focusout", function () {

        $(document).ready(function () {
            if (input.value != "") {
                qwe();
            }
        });



        function qwe() {
            var login = input.value;
            $.ajax({
                url: '/Account/CheckLog/',
                type: "POST",
                dataType: "json",
                data: { "name": login },
                success: function (nalich) {
                    //var pr=document.getElementById('prog');
                    //pr.innerText =g_load + '%' ;
                    //$('#prog').attr('aria-valuenow', g_load).css('width', g_load + '%' ).text=g_load;
                    //load =g_load;
                    //alert(nalich);
                    if (nalich == 1) {
                        div_pass.classList.remove('d-none');
                        div_vhod.classList.remove('d-none');
                        AddPass.value = "";
                        AddPass2.value = "";
                        pass.setAttribute('required', 'true');
                    }
                    else {
                        div_pass.classList.add('d-none');
                        div_vhod.classList.add('d-none');
                        pass.removeAttribute('required');
                    }
                    if (nalich == 0) {
                        div_add_pass.classList.remove('d-none');
                        pass.value = "";

                    }
                    else {
                        div_add_pass.classList.add('d-none');

                    }

                    if (nalich == 4) {
                        div_dosr_0.classList.remove('d-none');
                    }
                    else {
                        div_dosr_0.classList.add('d-none');
                    }
                    if (nalich == 5) {
                        div_dosr_1.classList.remove('d-none');
                    }
                    else {
                        div_dosr_1.classList.add('d-none');
                    }
                    if (nalich == 6) {
                        div_dosr_2.classList.remove('d-none');
                    }
                    else {
                        div_dosr_2.classList.add('d-none');
                    }
                    if (nalich == 7) {
                        div_dosr_3.classList.remove('d-none');
                    }
                    else {
                        div_dosr_3.classList.add('d-none');
                    }


                    if (nalich == 9) {
                        lab_log.classList.remove('d-none');
                        AddPass.value = "";
                        AddPass2.value = "";
                        pass.value = "";
                    }
                    else {
                        lab_log.classList.add('d-none');
                    }
                }
            });
        };

        function sravn() {
            var Pass = AddPass.value;
            var Pass2 = AddPass2.value;


            if (Pass == Pass2 && sogl.checked && Pass != "") {
                div_save.classList.remove('d-none');
            }
            else {
                div_save.classList.add('d-none');
            }
        };
    </script>

</body>
