
@{
    ViewData["Title"] = "Авторизация";

}
<script defer src="~/js/jquery.pwstrength.js"></script>
<body>
    <main class="page hire-me-page">
        <section class="portfolio-block hire-me">
            <div class="container">
                <br />
                <form asp-action="Login" asp-controller="Account" asp-anti-forgery="true" class="text-center was-validated mx-auto" style="width: 400px;" method="post">
                    <div class="validation center" asp-validation-summary="ModelOnly" />
                    <div class="form-row  rounded col-md-12 shadow-lg p-3 mb-5 bg-white-80 rounded">

                        <div class="form-group  js-tilt  " onclick="location.href='/';" data-tilt>
                            <img src="~/favicon.png" alt="IMG" />
                            <h4>Сиситема онлайн тестирования и аналитики</h4>
                            <br />
                            <h2>Вход</h2>
                        </div>

                        <div class="form-group centr-div col-9">
                            <label aria-label="Логин" for="validationLog">Логин</label>
                            <div class="input-group wrap-input100 validate-input">

                                <div class="input-group-prepend ">
                                    <div class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control input100" id="validationLog" placeholder="Логин" pattern="[A-Za-zА-Яа-яЁё0-9@@]{6,}" required />
                                <span class="focus-input100"></span>


                            </div>

                            <div class="form-group">
                                <label for="validationPass">Пароль</label>
                                <div class="input-group wrap-input100 validate-input">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock"></i>
                                        </div>
                                    </div>
                                    <input type="password" class="form-control pwstrength input100" id="validationPass" placeholder="Пароль" pattern="[A-Za-zА-Яа-яЁё0-9]{6,}" required />
                                    <span class="focus-input100"></span>

                                </div>
                            </div>
                            <div class="form-group">
                                <button id="KolvoLoad" class="btn btn-icon icon-left btn-outline-success col-12">
                                    Войти
                                    <i class="far fa-lock"></i>
                                </button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/tilt.jquery.min.js">


        jQuery('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

</body>
