
@{
    ViewData["Title"] = "Проверка ответов";
}

<h1>Проверка ответов</h1>

<div class="col-12 shadow p-3 mb-5 bg-white rounded">

    <div class="col-12 table-responsive-lg">
        <table>
            <tr>
                <td width="50">Задание</td>
                <td width="50">Ответ</td>
            </tr>
            <tr>
                <td width="50"><div id="zad"></div></td>
                <td width="50"><div id="otv"></div></td>
            </tr>
            <tr>
                <td width="100">Быберите балл</td>

            </tr>
            <tr>
                <td width="100"><div id="prover"></div></td>
            </tr>
        </table>
    </div>
</div>
