
@{
    ViewData["Title"] = "Тестирование";
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<div class="container col-12 shadow p-3 mb-5 bg-white rounded h-100">

    <div class="row row-cols-3">
        <div class="col-1"><a class="btn btn-icon btn-sm btn-outline-yel text-left btn-block h-100" href="#"><</a></div>
        <div class="col-9 shadow p-4 mb-4 bg-white rounded">
            <div class="row"><h5>Название задания</h5> <h5 class="m-l-auto">1 из 12</h5></div>
            <div class="col-12">Задание</div>
            <div class="col-12">Ответ</div>
        </div>
        <div class="col-1 text-right"><a class="btn btn-icon btn-sm btn-outline-yel text-left btn-block h-100" href="#">></a></div>
    </div>
</div>
