@model SOTA.Models.Pages.Test.ResultTest

@{
    ViewData["Title"] = "Результаты";
}

<h1>Результаты</h1>
<form method="post">

    <div class="col-12 shadow p-3 mb-5 bg-white rounded">

        <div class="col-6 table-responsive-lg m-l-r-auto">
            <table class="table table-hover  table-sm table-bordered shadow align-content-center text-center">
                <thead class="table-yel">
                    <tr>
                        <th width="50%">Номер задания</th>
                        <th>Балл</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Result != null)
                    {
                        double i = 0;
                        @foreach (var row in Model.Result)
                        {
                            <tr>
                                <td>@row.Number</td>
                                <td>@row.Ball</td>
                            </tr>
                            i = i + row.Ball;
                        }
                        <tr class="table-success">
                            <td>Всего </td>
                            <td>@i из @ViewBag.sumrab </td>
                            @*<td>@ViewBag.SumTest</td>*@
                        </tr>
                    }
                </tbody>
                <tfoot class=" ">

                </tfoot>
            </table>
        </div>

    </div>
</form>
